* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

html, body, .main-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  width: 100%;
}

.content-container {
  display: flex;
  height: 100%;
}

.SideMenu {
  background-color: #212529;
  color: white;
  width: 280px;
  height: 100%;
  padding: 20px;
  border: none;
}

.side-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu-list li {
  padding: 10px 10px;
}

.side-menu-list li:hover {
  background-color: rgba(128, 128, 128, 0.466);
  border-radius: 10px;
}

.products-content, .home-content {
  background-color: rgb(207, 206, 206);
  flex-grow: 1;
  height: 100%;
}

.logo img {
  width: 100px;
}

.Header h2 {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#agregar-productos{
  background-color: #daff03;
  border: none;
  color: black;
  font-weight: bold;
}